<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="gam-usuario-heading" jhiTranslate="sistemaApp.usuario.home.createOrEditLabel">Create or edit a Usuario</h2>
            <div>
                <gam-alert-error></gam-alert-error>
                <div class="form-group" [hidden]="!usuario.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="usuario.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.usuario.cpf" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                        [(ngModel)]="usuario.cpf" required minlength="11" maxlength="11" pattern="[0-9]{11}"/>
                    <div [hidden]="!(editForm.controls.cpf?.dirty && editForm.controls.cpf?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cpf?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cpf?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 11 }">
                        This field is required to be at least 11 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cpf?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 11 }">
                        This field cannot be longer than 11 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cpf?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Cpf' }">
                            This field should follow pattern for "Cpf".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.usuario.sexo" for="field_sexo">Sexo</label>
                    <select class="form-control" name="sexo" [(ngModel)]="usuario.sexo" id="field_sexo"  required>
                        <option value="MASC">{{'sistemaApp.Sexo.MASC' | translate}}</option>
                        <option value="FEM">{{'sistemaApp.Sexo.FEM' | translate}}</option>
                        <option value="OUTRO">{{'sistemaApp.Sexo.OUTRO' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.sexo?.dirty && editForm.controls.sexo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sexo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.usuario.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                        [(ngModel)]="usuario.telefone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.usuario.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                        [(ngModel)]="usuario.ativo" />
                    <div [hidden]="!(editForm.controls.ativo?.dirty && editForm.controls.ativo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ativo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.usuario.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="usuario.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === usuario.user?.id ? usuario.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.usuario.cargo" for="field_cargo">Cargo</label>
                    <select class="form-control" id="field_cargo" name="cargo" [(ngModel)]="usuario.cargo"  required>
                        <option *ngIf="!editForm.value.cargo" [ngValue]="null" selected></option>
                        <option [ngValue]="cargoOption.id === usuario.cargo?.id ? usuario.cargo : cargoOption" *ngFor="let cargoOption of cargos; trackBy: trackCargoById">{{cargoOption.nome}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.cargo?.dirty && editForm.controls.cargo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cargo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.usuario.organizacao" for="field_organizacao">Organizacao</label>
                    <select class="form-control" id="field_organizacao" name="organizacao" [(ngModel)]="usuario.organizacao"  required>
                        <option *ngIf="!editForm.value.organizacao" [ngValue]="null" selected></option>
                        <option [ngValue]="organizacaoOption.id === usuario.organizacao?.id ? usuario.organizacao : organizacaoOption" *ngFor="let organizacaoOption of organizacaos; trackBy: trackOrganizacaoById">{{organizacaoOption.sigla}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.organizacao?.dirty && editForm.controls.organizacao?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.organizacao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
