<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuario">
            <h2><span jhiTranslate="sistemaApp.usuario.detail.title">Usuario</span> {{usuario.id}}</h2>
            <hr>
            <gam-alert-error></gam-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sistemaApp.usuario.cpf">Cpf</span></dt>
                <dd>
                    <span>{{usuario.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.usuario.sexo">Sexo</span></dt>
                <dd>
                    <span jhiTranslate="{{'sistemaApp.Sexo.' + usuario.sexo}}">{{usuario.sexo}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.usuario.telefone">Telefone</span></dt>
                <dd>
                    <span>{{usuario.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.usuario.ativo">Ativo</span></dt>
                <dd>
                    <span>{{usuario.ativo}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.usuario.user">User</span></dt>
                <dd>
                    {{usuario.user?.login}}
                </dd>
                <dt><span jhiTranslate="sistemaApp.usuario.cargo">Cargo</span></dt>
                <dd>
                    <div *ngIf="usuario.cargo">
                        <a [routerLink]="['/cargo', usuario.cargo?.id, 'view']">{{usuario.cargo?.nome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sistemaApp.usuario.organizacao">Organizacao</span></dt>
                <dd>
                    <div *ngIf="usuario.organizacao">
                        <a [routerLink]="['/organizacao', usuario.organizacao?.id, 'view']">{{usuario.organizacao?.sigla}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario', usuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
