<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organizacao">
            <h2><span jhiTranslate="sistemaApp.organizacao.detail.title">Organizacao</span> {{organizacao.id}}</h2>
            <hr>
            <gam-alert-error></gam-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sistemaApp.organizacao.sigla">Sigla</span></dt>
                <dd>
                    <span>{{organizacao.sigla}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.organizacao.nome">Nome</span></dt>
                <dd>
                    <span>{{organizacao.nome}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.organizacao.ativo">Ativo</span></dt>
                <dd>
                    <span>{{organizacao.ativo}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.organizacao.superior">Superior</span></dt>
                <dd>
                    <div *ngIf="organizacao.superior">
                        <a [routerLink]="['/organizacao', organizacao.superior?.id, 'view']">{{organizacao.superior?.sigla}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organizacao', organizacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
