<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="gam-organizacao-heading" jhiTranslate="sistemaApp.organizacao.home.createOrEditLabel">Create or edit a Organizacao</h2>
            <div>
                <gam-alert-error></gam-alert-error>
                <div class="form-group" [hidden]="!organizacao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="organizacao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.organizacao.sigla" for="field_sigla">Sigla</label>
                    <input type="text" class="form-control" name="sigla" id="field_sigla"
                        [(ngModel)]="organizacao.sigla" required minlength="1" maxlength="31"/>
                    <div [hidden]="!(editForm.controls.sigla?.dirty && editForm.controls.sigla?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sigla?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sigla?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sigla?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 31 }">
                        This field cannot be longer than 31 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.organizacao.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="organizacao.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.organizacao.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                        [(ngModel)]="organizacao.ativo" />
                    <div [hidden]="!(editForm.controls.ativo?.dirty && editForm.controls.ativo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ativo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sistemaApp.organizacao.superior" for="field_superior">Superior</label>
                    <select class="form-control" id="field_superior" name="superior" [(ngModel)]="organizacao.superior" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizacaoOption.id === organizacao.superior?.id ? organizacao.superior : organizacaoOption" *ngFor="let organizacaoOption of organizacaos; trackBy: trackOrganizacaoById">{{organizacaoOption.sigla}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
