<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cargo">
            <h2><span jhiTranslate="sistemaApp.cargo.detail.title">Cargo</span> {{cargo.id}}</h2>
            <hr>
            <gam-alert-error></gam-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sistemaApp.cargo.nome">Nome</span></dt>
                <dd>
                    <span>{{cargo.nome}}</span>
                </dd>
                <dt><span jhiTranslate="sistemaApp.cargo.ativo">Ativo</span></dt>
                <dd>
                    <span>{{cargo.ativo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cargo', cargo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
